name: CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ develop, main ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'
      -   name: Build & Test auth-module only
          run: mvn -B -Dspring.profiles.active=test -pl auth-module -am verify

      -   name: Upload JaCoCo report
          if: always()
          uses: actions/upload-artifact@v4
          with:
              name: jacoco-report
              path: '**/target/site/jacoco'

      -   name: Upload test reports
          if: always()
          uses: actions/upload-artifact@v4
          with:
              name: surefire-reports
              path: '**/target/surefire-reports/*.xml'

